.container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

/*graph view*/
#mynetwork {
    width: 800px;
    height: 550px;
    border: 4px solid #505050;
}

.row {
    display: flex;
}

.column-left,.column-right {
    flex: 50%;
}

.column-left {
    padding-left: 20px;
}

input {
    border-radius: 5px;
    background: rgb(249, 250, 250);
    border: 1px solid rgb(181, 189, 196);
    font-size: 16px;
    line-height: 24px;
    height: 30px;
    margin: 5px 5px 5px ;
    color: rgb(8, 9, 10);
    box-shadow: none;
}
input:focus{
    background-color: #fff;
    border-color: #3b49df;
    box-shadow: 1px 1px 0 #3b49df;
}

button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #008060;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
}
button:hover {
    background: #006e52;
}

hr {
    width: 400px;
}

#btn-delete-all {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    color: #ffffff;
    background: #e32c2c;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;

}



